@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&family=Barlow:wght@400;500;600;700&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
 */

body, html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
}
/*--------------------------------------------------------------
global
--------------------------------------------------------------*/
input, textarea, select, a, button { outline: none; }
input, textarea, select, a, button:focus { outline:none; }
input, textarea, select, a, button:active { outline: none; }
ul, li {list-style-type: none;}

:root {
--main_black: #003641;
--main_green: #44D4BC;
--main_red: #FF6F58;
}
/*--------------------------------------------------------------
navigation
--------------------------------------------------------------*/

.main_header {
  width: 100%;
}

.primary-navigation {
  background-color: var(--main_green);
}

.navbar-toggler-icon {
  background-image: url(../img/close_solid.svg);

}
.collapsed .navbar-toggler-icon {
  background-image: url(../img/bars_solid.svg);
}

.primary-navigation .menu-item a {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.primary-navigation .menu-item {
  padding: 5px 10px;
}

.primary-navigation  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #ffffff;
}   


.offcanvas-collapse {
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: var(--main_green);
    transition: transform .6s ease-in-out, visibility .6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offcanvas-collapse.show {
  visibility: visible;
  transform: translateX(100%);
}

.buttons-navigation {
  position:fixed;
  top: 0;
  right: 0in;
}

@media (min-width: 992px) {
  .offcanvas-collapse {
    position: inherit;
    visibility: visible;
  } 
  .primary-navigation  .navbar-collapse {
    justify-content: flex-start;
  }
}


/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/

.icon-image { 
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 3%;
}
.social-icons{
  background-color: var(--main_green);
  margin: 0 -0.75rem;
  }
.social-icons a{
  align-self: center;
  margin: 1rem;
}

#icon_fb {
  background-image: url(../img/icon_fb.svg);
}
#icon_inst {
  background-image: url(../img/icon_inst.svg);
}
#icon_ln {
  background-image: url(../img/icon_ln.svg);
}
#icon_cb {
  background-image: url(../img/icon_cb.svg);
}
#icon_v {
  background-image: url(../img/icon_v.svg);
}
.footer-dark {
  background-color: var(--main_black);
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-navigation, .footer-contact {
  padding: 1rem 0;
}
.footer-navigation li a, .footer-contact p, .mc4wp-form-fields input {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;  
  color: #ffffff;
  font-size: 1.4rem;
}
.footer-navigation li a {
  text-decoration: none;
}  
.mc4wp-form.mc4wp-form-41 {
  background-color: var(--main_black);
}
.mc4wp-form-fields {
  display: flex;
  justify-content: center;

}
.mc4wp-form-fields>p {
  padding: 0 1.6rem;
}  
.mc4wp-form-fields input{
  padding: 5px 5px;
  background-color: var(--main_black);
  border: none;
  border-bottom: 2px #ffffff solid;
}
.mc4wp-form-fields input[type=submit]{
  padding: 5px 5px;
  border: 2px #ffffff solid;
  border-radius: 1.4rem; 
} 
.mc4wp-form-fields input::placeholder {
  color: #ffffff;
} 

/*--------------------------------------------------------------
Home Main
--------------------------------------------------------------*/
.main-wrapper {
  overflow: hidden;
}
.back1-img {
    padding: 0;
    position: relative;
}
.back1-img>img {
    width: 100%;
    height: auto;
}
.back1-img>svg {
  width: 100%;
  height: auto;
}
.white-back-2 {
  width:  100%;
  min-height: 1880px;
  background-color: #ffffff;
}
.black-back-1 {
  width:  100%;
  min-height: 940px;
  background-color:var(--main_black);
}
.green-back-1 {
  width:  100%;
  min-height: 940px;
  background-color:var(--main_green);
}
.circle {
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 5;
}
.cir_1 {
  top: 0;
  transform: translate(-50%, 20%);
}
.cir_2 {
  right: 0;
  bottom: 0;
  transform: translate(30%, 40%);
}
.cir_3 {
  top: 0;
  left: 0;
  transform: translate(-50%, 30%);
}
.cir_4 {
  left: 0;
  bottom: 0;
  transform: translate(-45%, 100%);
}
.cir_5 {
  right: 0;
  top: 0;
  transform: translate(50%, -70%);
}
.cir_6 {
  right: 0;
  bottom: 0;
  transform: translate(30%, 30%);
}
.abs-picture {
  position: absolute;
  z-index: 10;
  height: auto;
}
.abs-picture img {
  width: 100%;
  height: auto;
}
.pic_1 {
  width: 30%; 
  top: 0;
  left: 0;
  transform: translate(5%, 40%)
}
.pic_2 {
  right: 0;
  bottom: 0;
  width: 50%;
  }
.pic_3 {
  width: 40%;
  bottom: 0;
  right: 0;
  transform: translate(0, 29%);  
}

/*--------------------------------------------------------------
Carousel
--------------------------------------------------------------*/
/* @media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
} */

/* medium and up screens */
/* @media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
} */
/* .carousel-item {
  width:30%
} */


/* .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; } */

        .carousel-inner {
          display: flex;
      }

      .carousel-item {
          margin-right: 0;
          flex: 0 0 33.333333%;
          display: block;
      }

      .carousel-inner {
          padding: 1em;
      }

      .card {
          margin: 0 .5em;
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          border: none;
      }

      .carousel-control-prev,
      .carousel-control-next {
          /* background-color: #e1e1e1; */
          width: 12vh;
          height: 6vh;
          border-radius: 50%;
          top: 100%;
          left: 50%;
          /* transform: translate(-50%, 20px); */
      }
      .carousel-control-prev {
        transform: translate(-50%, 20px);
        
      }
      .carousel-control-next {
        transform: translate(50%, 20px);
        
      }
      .carousel-control-prev-icon {
        background-image: url(../img/arr_l.svg);
      }
      .carousel-control-next-icon {
        background-image: url(../img/arr_r.svg);
      }
